<% if @uploads.any?%>
	<h1 id="timer"></h1>
	<div id="image">
	  
	</div>
	<div id="plays">
		<%= render :partial => "image_table"%>
	</div>
	<%- @uploads.each do |upload|%>
	  <input class="uploads" name="uploads[]" type="hidden" value="<%= upload.file %>"></input>
	<%end%>
	<script type="text/javascript">
	  get_all_uploads();
	</script>
<%else%>
	<h5>No uploads</h5>
<%end%>